<html>
	<head>
		<title>decode oil</title>
	</head>
	<style type="text/css">
		.img{
			width: 250px; 
			height: 300px;
			padding: 40px;
			padding-right: 30px;
			border-radius: 50px;
            float : left;
		}
		.img1{
			width: 150px; 
			height: 200px;
			padding: 40px;
			padding-right: 30px;
			border-radius: 50px;
            float : left;
		}
		#icon{
			width: 40px;
			cursor:  pointer;
		}
		#icon1{
			width: 40px;
			cursor:  pointer;
		}
		#icon2{
			width: 40px;
			cursor:  pointer;
		}
	</style>
	
	<body style="background-color:black">
		<div style="display:flex; align-items: center;">
		<img src="https://i.scdn.co/image/ab6765630000ba8acf45bab65eff11e08f59fba5" class="img">
		<p style="color : white; text-align: right;font-style: italic; font-size:20px;">podcast Episode - </p>
		<p style="color : white; text-align: right;font-style: italic; font-size: 100px;">DECODE DIL</p>
		
	    </div>
	    <div>
	    	<p style="color:white; font-style: italic; font-size: 25px;">Decode Dil with Ekta, a Spotify Original produced by Audiomatic, ek aisa show jaha Dil ke har ek emotion par baat hogi…har dhadkan ka ek chapter, ek episode. Aapke sawaal aur Ekta Sandhir ke jawaab. Baat karengey, tab hi toh baat banegi. Press the bell icon to never miss an episode. New episodes out every Wednesday.



            </p>
	    </div>
	    <div style="display:flex; align-items: center; ">
		<img src="https://i.scdn.co/image/ab6765630000ba8acf45bab65eff11e08f59fba5" class="img1">
		<p style="color : white; text-align: right;font-style: italic; font-size: 30px;">ending are the new beginnings - apr 19</p>
		<img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon">



		<audio id="1">
        	<source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\Endings are the New Beginnings.mp3" type="audio/mp3">
        </audio>
        <script>
        	var audio = document.getElementById("1");
        	var icon =  document.getElementById("icon");
        	icon.onclick = function(){
        		if(audio.paused){
        			audio.play();
        			icon.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
        		}else{
        			audio.pause();
        			icon.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
        		}
        	}

        </script>
		
	    </div>
        <div style="display:flex; align-items: center;">
            <img src="https://i.scdn.co/image/ab6765630000ba8acf45bab65eff11e08f59fba5" class="img1">
            <p style="color : white; text-align: right;font-style: italic; font-size: 30px;">little doorie is zaroori - apr 12</p>
            <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon1">
    
    
    
            <audio id="2">
                <source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\Little Doorie is Zaroori.mp3" type="audio/mp3">
            </audio>
            <script>
                var audio1 = document.getElementById("2");
                var icon1 =  document.getElementById("icon1");
                icon1.onclick = function(){
                    if(audio1.paused){
                        audio1.play();
                        icon1.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
                    }else{
                        audio1.pause();
                        icon1.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
                    }
                }
    
            </script>
            
            </div>
            <div style="display:flex; align-items: center;">
                <img src="https://i.scdn.co/image/ab6765630000ba8acf45bab65eff11e08f59fba5" class="img1">
                <p style="color : white; text-align: right;font-style: italic; font-size: 30px;">yaadon ka storage - apr 5</p>
                <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon2">
        
        
        
                <audio id="3">
                    <source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\Yaadon ka Storage.mp3" type="audio/mp3">
                </audio>
                <script>
                    var audio2 = document.getElementById("3");
                    var icon2 =  document.getElementById("icon2");
                    icon2.onclick = function(){
                        if(audio2.paused){
                            audio2.play();
                            icon2.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
                        }else{
                            audio2.pause();
                            icon2.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
                        }
                    }
        
                </script>
                
                </div>
	</body>

</html>