<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RhythmZone</title>
</head>
<style>
    body{
        background: url("https://img.freepik.com/free-photo/microphone-acoustic-isolation-foam_23-2148695273.jpg?w=1060&t=st=1682262557~exp=1682263157~hmac=6fd638311958d953fef6aae5c38dc1242d1dc00e6396f6b8d1626e788710018e");
         background-repeat: no-repeat;
  background-size: cover;
 
        margin-top: 13%;

    }
    h1{
        margin-left: 64%;
       align: center;
        font-size: 2cm;
        color: orange;
    }
    p{
        margin-left: 66%;
        font-size: 0.8cm;
        color: orange;
    }
    button{
	width: 4cm;
	height: 2cm;
	/*margin: 10px auto;*/
     margin-left: 72%;
	justify-content: center;
	display: block;
	color: black;
	background: orange;
	font-size: 0.6cm;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: orange
}
a{
    text-decoration: none;
}
</style>
<body>
    <h1>RhythmZone</h1>
    <p>We Are Here To Entertain You</p>
    <a href="first"><button>Get started</button></a>
</body>
</html>