<html>
	<head>
		<title>meditate with gurudev</title>
	</head>
	<style type="text/css">
		.img{
			width: 250px; 
			height: 300px;
			padding: 40px;
			padding-right: 30px;
			border-radius: 50px;
            float : left;
		}
		.img1{
			width: 150px; 
			height: 200px;
			padding: 40px;
			padding-right: 30px;
			border-radius: 50px;
            float : left;
		}
		#icon{
			width: 40px;
			cursor:  pointer;
		}
		#icon1{
			width: 40px;
			cursor:  pointer;
		}
		#icon2{
			width: 40px;
			cursor:  pointer;
		}
	</style>
	
	<body style="background-color:black">
		<div style="display:flex; align-items: center;">
		<img src="https://i.scdn.co/image/ab6765630000ba8afb41f68f61988e863c17fa76 " class="img">
		<p style="color : white; text-align: right;font-style: italic; font-size:20px;">podcast Episode - </p>
		<p style="color : white; text-align: right;font-style: italic; font-size: 100px;">Meditate with gurudev</p>
		
	    </div>
	    <div>
	    	<p style="color:white; font-style: italic; font-size: 25px;">Glenn Maxwell has been around the block. He was a rising star when he entered the IPL, and has played in a few teams, but at RCB, he felt home. As one of 3 players RCB has retained for the 2022 season, he is front and centre in RCB’s plans for the future.


                Listen to Glenn Maxwell talk to us about his amazing cricket journey and his time in the IPL on The RCB Podcast powered by Kotak Mahindra Bank — How the IPL changed my life.
                
                



            </p>
	    </div>
	    <div style="display:flex; align-items: center; ">
		<img src="https://i.scdn.co/image/ab6765630000ba8afb41f68f61988e863c17fa76 " class="img1">
		<p style="color : white; text-align: right;font-style: italic; font-size: 30px;">The Art Of Doing Nothing - Meditation For Deep Rest - Gurudev</p>
		<img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon" >



		<audio id="1">
        	<source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\The Art Of Doing Nothing - Meditation For Deep Rest - Gurudev.mp3" type="audio/mp3">
        </audio>
        <script>
        	var audio = document.getElementById("1");
        	var icon =  document.getElementById("icon");
        	icon.onclick = function(){
        		if(audio.paused){
        			audio.play();
        			icon.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
        		}else{
        			audio.pause();
        			icon.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
        		}
        	}

        </script>
		
	    </div>
        <div style="display:flex; align-items: center;">
            <img src="https://i.scdn.co/image/ab6765630000ba8afb41f68f61988e863c17fa76 " class="img1">
            <p style="color : white; text-align: right;font-style: italic; font-size: 30px;">A Meditation For Letting Go Of Worries And Tension - Gurudev - Stress-Free Living</p>
            <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon1">
    
    
    
            <audio id="2">
                <source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\A Meditation For Letting Go Of Worries And Tension - Gurudev - Stress-Free Living.mp3"  type="audio/mp3">
            </audio>
            <script>
                var audio1 = document.getElementById("2");
                var icon1 =  document.getElementById("icon1");
                icon1.onclick = function(){
                    if(audio1.paused){
                        audio1.play();
                        icon1.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
                    }else{
                        audio1.pause();
                        icon1.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
                    }
                }
    
            </script>
            
            </div>
            <div style="display:flex; align-items: center;">
                <img src="https://i.scdn.co/image/ab6765630000ba8afb41f68f61988e863c17fa76 " class="img1">
                <p style="color : white; text-align: right;font-style: italic; font-size: 30px;">Experience Deep Silence - Stop The Mind's Chatter - Gurudev</p>
                <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png" id="icon2">
        
        
        
                <audio id="3">
                    <source src="C:\Users\Keerthana\TuneFab\Spotify Music Converter\Converted\Experience Deep Silence - Stop The Mind's Chatter - Gurudev.mp3"  type="audio/mp3">
                </audio>
                <script>
                    var audio2 = document.getElementById("3");
                    var icon2 =  document.getElementById("icon2");
                    icon2.onclick = function(){
                        if(audio2.paused){
                            audio2.play();
                            icon2.src = "https://cdn.pixabay.com/photo/2014/04/02/10/22/pause-303651__340.png"
                        }else{
                            audio2.pause();
                            icon2.src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836__340.png"
                        }
                    }
        
                </script>
                
                </div>
	</body>

</html>